@tailwind base;
@tailwind components;
@tailwind utilities;


.flip-card {
    background-color: transparent;
    width: 25%;
    height: 25vh;
    perspective: 1000px;
    padding:0.5rem;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    color: white;
  }
  
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }

  .Sponser{
    height: 25vh;
    color:rgb(45, 65, 112);
  }

  .Sponser-Title{
    font-size: 8rem;
  }

  .Sponsi-Text {
    padding-top: 3%;
  }

  .sponsi-container {
    width: 100%;
    background-image: url('./assets/Background.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

@media (min-width:720px){
  .sponsi-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to right, transparent, transparent 25%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.1) 25.05%, transparent 25.05%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 50.05%, transparent 50.05%, transparent 75%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1) 75.05%, transparent 75.05%),
        linear-gradient(to bottom, transparent, transparent 24.975%, rgba(255, 255, 255, 0.1) 24.975%, rgba(255, 255, 255, 0.1) 25.025%, transparent 25.025%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 50.05%, transparent 50.05%, transparent 75%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1) 75.05%, transparent 75.05%);
  }
}



@media (max-width:720px) {
  .sponsi-container{
    background-image: url('./assets/Background_mobile.png');
  }
  .Sponser-Title{
    font-size: 2.5rem;
    color:rgb(142, 175, 209);
  }
  .Sponser{
    height: 20vh;
  }

  .flip-card {
    width: 93%;
    height: 15vh;
    margin-bottom: 0.1rem;
  }
}


  